{% extends 'base.html' %}

{% block body_content %}
<div id="root"></div>
{% endblock %}

{% block extra_js %}

{% if not config['DEBUG'] %}
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
<!-- Reddit Pixel -->
<script>
  !function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_tf2btta6', {"optOut":false,"useDecimalCurrencyValues":true});rdt('track', 'PageVisit');
</script>
{% endif %}

<script>
window.allSubreddits = {{ subreddits | tojson }};
window.recaptchaKey = "{{ recaptcha_site_key }}"
window.APP_BASE_URL = "{{ app_base_url }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dist/index.bundle.js') }}"></script>
{% endblock %}
