{% extends 'base.html' %}

{% block body_content %}
<div id="root"></div>
{% endblock %}

{% block extra_js %}
<script>
window.allSubreddits = {{ subreddits | tojson }};
window.recaptchaToken = "";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>

{% if not config['DEBUG'] %}
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
<script>
grecaptcha.ready(function() {
  window.recaptchaRefresh = () => grecaptcha.execute({{ recaptcha_site_key }}, {action: 'homepage'}).then(function(token) {
    window.recaptchaToken = token;
  });
  recaptchaRefresh();
  window.setInterval(function() {
    recaptchaRefresh();
  }, 90000);
});
</script>
{% endif %}

{% endblock %}
