<div class="control-group">
  <div class="form-group floating-label-form-group controls mb-0 pb-2">
    <label>Subreddits (pick up to 10)</label>
    <select class="form-control form-control-chosen"
            id="subreddits"
            multiple="multiple"
            required="required"
            data-validation-required-message="Please choose at least one subreddit.">
      {% set displayed_subreddits = [] %}
      {% for category, subreddits in subreddit_info %}
        <optgroup label="{{ category }}">
        {% for subreddit in subreddits%}
          {% if subreddit in user_subreddits and subreddit not in displayed_subreddits %}
          <option selected="selected">{{ subreddit }}</option>
          {{  displayed_subreddits.append(subreddit) }}
          {% else %}
          <option>{{ subreddit }}</option>
          {% endif %}
        {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    <p class="help-block text-danger"></p>
  </div>
</div>

<div class="control-group">
  <div class="form-row">
    <div class="col">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Subreddit with search term (optional, up to 5)</label>
        <select class="form-control form-control-chosen" id="search_term_subreddit_0">
          <option selected="selected">all</option>
          {% for subreddit in subreddit_names %}
          <option>{{ subreddit }}</option>
          {% endfor %}
        </select>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="col">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Search term</label>
        <input class="form-control" id="email" type="email" placeholder="Enter Email Address" required="required" data-validation-required-message="Please enter your email address.">
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>
</div>
