{% extends 'base.html' %}

{% block body_content %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">orangered</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#unsubscribe">Unsubscribe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
            <p class="lead">Spending too much time on Reddit?</p>
            <p class="lead">Select your favorite subreddits below and we'll send you an email every day with only the best content from each one so you can limit your time browsing.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Sign up</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="sentMessage" id="signupForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="email" placeholder="Enter Email Address" required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Subreddits</label>
                <select class="selectpicker form-control"
                        id="subreddits"
                        multiple data-live-search="true"
                        data-max-options="10"
                        data-header="Choose subreddits (up to ten)"
                        title="Choose subreddits..."
                        required="required"
                        data-validation-required-message="Please choose at least one subreddit.">
                  {% for subreddit in subreddits %}
                    <option>{{ subreddit }}</option>
                  {% endfor %}
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
